.heroCard{
  width: 56%;
  margin:8rem 0;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
    h2{
      color: #6FB1F3;
      margin: 10px 0;
    }
  @media screen and (max-width: 460px) {
    width: 100%!important;
  }
  //@media (max-height: 600px) and (max-width: 800px) {
  //  margin:40px 0px
  //}

}