  .stageBox {
    margin-top: 1rem;
    div{
      //font-size: 5rem;
      font-weight: 600;
      color: var(--color-background);
      display: flex;
      justify-content: center;
      text-shadow: -1px -1px 0 #46485c, 1px -1px 0 #46485c, -1px 1px 0 #46485c, 1px 1px 0 #46485c;
      position: relative;
    }
    span{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      font-size: 2rem;
      text-shadow: none;
    }
    p{
      text-align: center;
    }
}
  .w75-auto{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    @media screen and (max-width: 1024px) {
      width: 75%;
    }
    @media screen and (max-width: 460px) {
      width: 100%;
    }
  }