.servicesBox{
  display: flex;
  justify-content: space-between;
  position: relative;

  @media screen and (max-width: 1024px) {
    flex-flow: column;
  }
  .contentBox{
    width: 65%;
    min-height: 600px;
    background: rgb(20 25 38 / 64%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 4%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    display: inline;
    padding: 5rem;
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin-top: 2rem;

      padding: 3rem;
    }
  }
  .sideBar{
    width: 30%;
    min-height: 600px;
    padding: 40px 40px 20px 40px;
    background: rgb(20 25 38 / 64%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 4%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    display: inline;
    opacity: 1;
    
    @media screen and (max-width: 1024px) {
     width: 100%;
    }
    h4{
      transition: all 0.3s;
      padding: 5px 0;
      font-weight: 500;
      &:not(:hover){
        opacity: 0.3;
      }
    }
  }
}
.tab {
  color: red;
  transition: all 0.3s;
  padding:0;
  font-weight: 500;
  margin-right: auto;
  line-height: 0.5!important;
  &:not(:hover) {
    color: var(--color-desc);
  }

}
.MuiTabs-indicator{
  background: none!important;
  color: red!important;
}

.activeLink{
  opacity: 1!important;
  position: relative;
  font-weight: 600!important;
  &:before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color-primary-linear);
    z-index: 1;
    position: absolute;
    left: -20px;
    top: 12px;
  }
}
.titleBox{
  width: 100%;
  height: 400px;
  margin-top: 4rem;
  background-image: url("/assets/images/others/grid.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  h1,span,a{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: white;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  a{
    text-decoration: none;
    margin-top: 3rem;
    width: 30rem;
    border:none;
    background: var(--color-background-primary-linear-left);
    color: var(--color-white);
    text-align: center;
    font-weight: 500;
    padding: 20px;
    border-radius: var(--border-d-radius);
    transition: all 0.5s ease;
    &:hover{
      background: var(--color-background-primary-linear-right);
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}
.sideBackShape{
  width: 80px;
  height: 25px;
  border-radius: 15%;
  background: var(--color-primary-linear);
  z-index: -1;
  position: absolute;
  top: -0.7rem;
  left: 2px;
}
.contentBackShape{
  width: 200px;
  height: 25px;
  border-radius: 8%;
  background: var(--color-primary-linear);
  z-index: -1;
  position: absolute;
  top: -0.7rem;
  right: 2px;
}
.band{
  position: absolute;
  bottom: 0;
  left: 0;
}