.footerBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  padding: 0 2rem;
  border-radius: var(--border-d-radius);
  position: relative;
  min-height: 80px;
}
.footerBg{

  background: var(--color-card);
  width: 100%;
}
.footerLogo{
  position: absolute;
  top: -2rem;
  p{
  letter-spacing: 5px;

    color: white;
  }
}