.heroCard{
  width: 100%;
  min-height: 180px;
  background: var(--color-background-primary-linear-left);
  border-radius: var(--border-m-radius);
  justify-content: space-between;
  padding: 4rem 4rem;
  position: relative;

  @media screen and (max-width: 600px) {
    padding: 4rem 1rem;
  }
  div{
    a{
      -webkit-transition: all .8s ease;
      -moz-transition: all .8s ease;
      transition: all .8s ease;
      text-decoration: none;
      &:hover{
        font-size: 15px;
        &:after{
          content: "⮕";
          margin-left: 10px;
        }
      }
    }
    h2{
      margin: 0;
      line-height: normal;
    }
    p{
      margin: 3px 0;
    }
  }
}

.band{
  position: absolute;
  bottom: 0;
  left: 0;
}