.securityLeft{
  padding-right: 5rem!important;
  display: flex;
  flex-flow: nowrap;
  h2{
    font-size: clamp(1.994rem, 4vw, 2.9rem);
    color: #8298AB;
  }
  @media screen and (max-width: 1024px) {
    //margin: auto!important;
    flex-flow: column;
    padding-right: 0;
  }

  @media screen and (max-width: 650px) {
    margin-left: auto;
    margin-bottom: 2rem;
    width: 90%;
  }
}
.securityRight{
  width: 55%;
  @media screen and (max-width: 1024px) {
    width: 90%;
    margin: auto;
  }
}
.securityFeatures{
  display: flex;
  align-items: center;
  img{
    margin: 10px 10px 10px 0;
  }
}
.securityWrapped{
  display: flex;
  justify-content: center;
  @media screen and (max-width: 650px) {
    flex-flow: column;
  }
}
.gap0media{
  @media screen and (max-width: 1024px) {
    gap: 0;
  }
}