.contactBar {
  display: flex;
  gap: 2rem;
  justify-content: center;
  border-top: solid 1px var(--color-primary);
  padding: 3rem 5rem;
  position: relative;
  div {
    &:nth-child(1) {
      width: 40%;
    }
  }
  @media screen and (max-width: 460px) {
    padding: 3rem 2rem;
  }
  @media screen and (max-width: 1160px) {
    flex-flow: column;
    div {
      width: 100% !important;
    }
  }
  @media screen and (max-width: 1024px) {
    gap: 0!important;
  }
}

.glassBox {
  width: 100%;
  position: absolute;
  top: 8rem;
  right: 24rem;
  max-width: 300px;
  min-height: 180px;
  padding: 40px 40px 20px 40px;
  z-index: 2;
  //background: rgba( 255, 255, 255, 0.05 );
  background: rgb(30 24 125 / 17%);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 4%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  display: inline;

  p {
    color: #d6d6d6;
  }

  @media screen and (max-width: 860px) {
    display: none;
  }
}